<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/group.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <!-- Libraries -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://lib.ivank.net/ivank.js"></script>
    <script src="/js/lib/underscore-min.js" type="text/javascript"></script>
    <script src="/js/lib/notify.min.js" type="text/javascript"></script>

    <!-- Initial Scripts -->
    <script src="/js/group/rules.js"></script>
</head>
<!-- onload="document.getElementById('game_frame').contentWindow.startIframeORgetIframe();" -->
<body  >

<!-- GROUP NAME -->
<input type="hidden" name="" id="groupName" value="<%= groupName %>">
<!-- PARTICIPANT NAME -->
<input type="hidden" name="" id="username" value="<%= username %>">
<!-- ########################## IMAGES FOR NEIGHBOURS ######################### -->
<div id="images-div" style="display:none">
  <!-- NEIGHBOUR 1 (what the guy who finished first see) -->
  <div class="neighb-images" id = "images-user1" style="display:none">
    <!-- You side -->
    <div class="imagesDivisions" id = "you-imagesDivisions-1">
      <!-- Title -->
      <div class="image-title">
        These are your choices<br>
      </div>

      <div class="image-division" >
        <!-- image -->
        <img id="you-image-user1" class = "res-image" width="800px" height="500px">
      </div>
    </div>

    <!-- Other side -->
    <div class="imagesDivisions" id = "other-imagesDivisions-1">
      <!-- Title -->
      <div class="image-title">
        These are <strong id = "user1-other-name"></strong>'s choices <br>
      </div>

      <!-- image -->
      <div class="image-division">
        <img id="other-image-user1" class = "res-image" width="800px" height="500px">
      </div>
    </div>


  </div>


  <!-- NEIGHBOUR 2 (what the guy who finished second see) -->
  <div class="neighb-image" id = "images-user2" style="display:none">
    <!-- You side -->
      <div class="imagesDivisions" id = "you-imagesDivisions-2">
        <!-- Title -->
        <div class="image-title">
          These are your choices<br>
        </div>

        <div class="image-division" >
          <!-- image -->
          <img id="you-image-user2" class = "res-image" width="800px" height="500px">
        </div>
      </div>

    <!-- Other side -->
      <div class="imagesDivisions" id = "other-imagesDivisions-2">
        <!-- Title -->
        <div class="image-title">
          These are <strong id = "user2-other-name"></strong>'s choices <br>
        </div>

          <div class="image-division">
            <!-- image -->
            <img id="other-image-user2" class = "res-image" width="800px" height="500px">
          </div>
      </div>

  </div>
</div>
<!-- Waiting for particiant division -->
<div id="waiting_area">
  Hey <%= username %>, thank you for joining our experiment! Please enjoy this
  cute kitten while waiting for another participant to join :) <br><br>
  <div align=center>
      <video  height=300 id="cat_vid" name="construction_mov" autoplay muted loop>
          <source src = "/movies/cat_vid.mp4" type="video/mp4">
          <p>Sorry.  If this video wont play you wont be able to complete the experiment.</p>
      </video>
  </div>
</div>
<!-- ########################## Waiting area for the one who finishes first ######################### -->
<div id="waiting-area-after-trial" style="display:none">
Please wait until <strong id = "UserWhoFinishesFirstName"></strong> finishes too.

</div>

  <!-- GAME FRAME -->
  <div id="game" style="visibility:hidden">
    <iframe src="/zendo_iframe.html" width=800 height=500 id="game_frame" name="game_frame" tabindex="0"></iframe>
    <div id="query2">
    </div>
  </div>




<!-- Scripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/group/groupchat.js"></script>
<script src="/js/group/task.js"></script>

<script type="text/javascript" src="/js/group/start_game.js"></script>




</body>
